/* Extra Helper and Resets */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* Common Layout Classes */
body {
    font-family: 'Raleway';
}
.container {
    margin: 0 auto;
    padding: 0 2%;
    max-width: 100%;
}
.container-small {
    margin: 0 auto;
    max-width: 100%;
}
.playfair {
    font-family: Playfair Display;
}
/* header area */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
}
.container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
}
header.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#hidden-logo {
    display: none;
}
.aloha-logo {
    order: 1;
    width: 120px;
    height: 48px;
}
#basket {
    order: 2;
}
.basket-logo{
    width: 48px;
    height: 48px;
}
/* navigation bar */
.main-navigation {
    order: 3;
    flex-grow: 1;
    justify-content: space-around;
    font-size: 14px;    
    border-top: 1px solid #d7d7d7;
    margin-top: 20px;
}
.main-navigation ul{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.main-navigation ul li a{
    margin: 0 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: #E2574C;
}
.main-navigation ul li a:hover{
    color: #b64036;
}
/* banner area */
.banner {
    margin-top: 85px;
    padding: 100px 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2))
                ,url(../img/banner-girl.png) no-repeat center 80px
                ,url(../img/flower-bkgd.jpg) repeat center;
    background-size: cover, 40%;
    height: 420px;
}
.banner-content {
    color: white;
    text-align: center;
    padding-top: 65px;
    text-shadow: 1px 1px #969696;
}
.banner-content h2 {
    font-size: 18px;
}
.banner-content h3 {
    padding-top: 20px;
    font-size: 40px;
}
/* about area */
.about {
    font-style: italic;
    text-align: center;
    width: 650px;
    padding: 30px 0 50px 0;
}
.about h2 {
    padding: 50px 0 20px 0;
    font-size: 34px;
}
.about h2 span {
    font-weight: bold;  
    font-style: normal;
}
.about p {
    color: #2d2d2d;
    line-height: 30px;
    font-style: normal; 
    font-weight: 200;
}
/* category area */
.category-list {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-content: flex-start;
}
.category-list li {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    background-size: cover,cover;
    height: 30%;
    align-items: center;
}
.category-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 2px 2px #969696;
    text-transform: uppercase;  
}
.category-list li a:hover {
    color: #f5ebc6;
}
.category-list li:first-child {
    flex-grow: 1;
    background-image: linear-gradient(to top, rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../img/mens-category.jpg);
    order: 1;
    flex-basis: 100%;
    border-bottom: 4px solid white;
}
.category-list li:nth-child(2) {
    background-image: linear-gradient(to top, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/trends-category.jpg);
    order: 2;
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    
}
.category-list li:nth-child(3) {
    background-image: linear-gradient(to top, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/glasses-category.jpg);
    order: 3;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}
.category-list li:nth-child(4) {
    background-image: linear-gradient(to top, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/sale-category.jpg);
    order: 4;
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}
.category-list li:nth-child(5) {
    background-image: linear-gradient(to top, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/bags-category.jpg);
    order: 5;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}
.category-list li:last-child{
    flex-grow: 1;
    background-image: linear-gradient(to top, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/womens-category.jpg);
    order: 6;
    border-top: 4px solid white;
}
/* Featured area */
div.main-carousel {
    display: block;
}
.carousel-cell {
    width: 100%;
    text-align: center;
}
.carousel-cell li {
    list-style: none;
    margin: 0 auto;
}
.carousel-cell li a {
    text-decoration: none;
}
.carousel-cell li a img{
    margin: 50px 0;;
}
.featured {
    margin: 150px 0;
    padding: 50px 0;
}
.featured-h1 {
    font-size: 34px;
    font-style: italic;
    text-align: center;
    margin-top: 50px;
}
.featured-h1 span {
    font-weight: bold;
    font-style: normal;   
}
.clothe-type {
    color: #afaeae;
    text-transform: uppercase;
    font-size: 12px;
}
.clothe-name {
    color: #E2574C;
    font-size: 24px;
}
.price {
    color: #969696;
}
/* subscribe area */
.update-h1 {
    font-size: 36px;
    font-style: italic;
    text-shadow: 2px 1px #969696;
}
.update-h1 span {
    font-weight: bold;
    font-style: normal;   
}
.updates div p {
    text-align: center;
    line-height: 34px;  
    font-weight: 400;
    max-width: 98%;
    font-size: 15px;
}
.updates {
    background-image:   linear-gradient(to top, rgba(0,0,0,.2),rgba(0,0,0,.2    )),
                        url(../img/wave-bkgd.jpg);
    background-position: 0 80%;
    background-size: cover;
    height: 350px;
    color: white;
    display: flex;
    align-items: center;
}
.updates .container-small {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}
/* newletter form area */
.form-container {
    position: relative;
    width: 60%;
}
.email-form {
    border-radius: 25px;
    padding: 15px;
    width: 100%;
}
.email-form[type="email"] {
    font-size: 16px;
    font-weight: 100;
    border: none;
}
.round-btn {
    position: absolute;
    margin-top: 7px;
    right: .25rem;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    color: white;
    padding: 10px 20px;
    background-color: #E2574C;
}
/* footer area */
footer {
    background-color: #242424;
    color: white;
}
.footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}
/* footer addresses area */
.address {
    color: #969696;
}
.footer-block {
    padding: 10px 0;
}
.footer-block li {
    line-height: 25px;
}
.footer-block li a {
    color: white;
    text-decoration: none;
}
.footer-block li a:hover {
    color: #E2574C;
}
.footer-block li a p{
    display: none;
}
.footer-split {
    padding-top: 20px;
}
/* footer social media area */
.footer-email {
    text-decoration: underline;
}
.footer-nav li {
    display: inline-block;
}
.fab {
    margin-right: 10px;
}
@media screen and (min-width: 470px) {
    #basket {
        order: 3;
    }
    .main-navigation {
        order: 2;
    }
}
@media screen and (min-width: 500px) {

}
@media screen and (min-width: 600px) {
    /* header area */
    .aloha-logo {
        width: 150px;
        height: 60px;
    }
    .basket-logo {
        height: 60px;
        width: 60px;
    }
    /* main navigation area */
    .main-navigation {
        border-top: none;
    }
    .main-navigation ul {
        justify-content: center;
        font-size: 1.20em;
        padding: 0;
    }
    /* banner area and banner text */
    .banner {
        background-position: 50% 0, 50% 50px;
        background-size: cover, 30%;
        height: 460px;
    }
    .banner-content h2 {
        font-size: 22px;
    }
    .banner-content h3 {
        font-size: 54px;
    }
    /* about section */
    .about {
        padding: 30px 0 55px 0;
        width: 700px;
    }
    .about h2 {
        font-size: 42px;
    }
    .about p {
        font-size: 22px;
        font-weight: 100;
        line-height: 50px;
    }
    /* category area */
    .category-list {
        height: 60vh;
    }
    .category-list li {
        flex-basis: 25%;
    }
    .category-list li a {
        font-size: 24px;
    }
    .category-list li:first-child{
        flex-basis: 50%;
        border-right: 4px solid white;
    }
    .category-list li:nth-child(2) {
        border-left: 4px solid white;
        border-top: none;
    }
    .category-list li:nth-child(3) {
        border-top: none;
    }
    .category-list li:nth-child(4) {
        border-bottom: none;
    }
    .category-list li:nth-child(5) {
        border-right: 4px solid white;
        border-bottom: none;
    }
    .category-list li:last-child {
        flex-basis: 50%;
        border-left: 4px solid white;
    }
    /* featured area */
    .carousel-cell {
        width: 50%;
    }
    .carousel-cell li {
        line-height: 50px;
    }
    .featured {
        margin: 250px 0;
        margin-bottom: 0;
    }
    .featured-h1 {
        font-size: 48px;
        margin-top: -500px;
    }
    .clothe-name {
        font-size: 20px;
    }
    /* subscrib and newletter area */
    .updates {
       height: 500px;
    }
    .updates div p {
        font-size: 24px;
        max-width: 90%;
        font-weight: 100;
    }
    .update-h1 {
        font-size: 48px;
    }
    /* footer area */
    .footer-div {
        text-align: left;
        flex-direction: row ;
        justify-content: space-between;
        margin: 0 20px;
    }
    /* footer social media area */
    .footer-nav li {
        display: flex;
    }
    .footer-nav li a {
        line-height: 40px;
    }
    .footer-block li {
        line-height: 30px;
        font-size: 20px;
    }
    .footer-block li a p{
        display: inline;
    }
}
@media screen and (min-width: 1240px) {
    /* about section */
    .about {
        padding: 0px 0 35px 0;
        width: 700px;
    }
    .about p {
        font-size: 16px;
    }
    /* category area */
    .category-list {
        height: 105vh;
    }
    .category-list li a {
        font-size: 40px;
    }
    /* featured area */
    .featured {
        margin: 100px 0;
    }
    .featured-h1 {
        font-size: 34px;
    }
    .carousel-cell li a img{
        width: 80%;
        height: 50%;
    }
    .carousel-cell {
        width: 25%;
    }
    .carousel-cell li {
        line-height: 25px;
    }
    /* newsletter area */
    .updates {
       height: 300px;
    }
    .updates .container-small {
        justify-content: space-evenly;
    }
    .updates div p {
        max-width: 55%;
        font-size: 16px;
    }
    /* footer area */
    .footer-div {
        margin: 0 80px;
    }
    .footer-nav li a {
        font-size: 16px;
    }
}      
@media screen and (min-width: 1350px) {
    /* header area */
    .aloha-logo {
        transform: scale(1.25);
    }
    .basket-logo {
        transform: scale(1.25);
    }
    .featured {
        margin: -50px 15% 50px 15%;
    }
    /* banner area */
    .banner {
        background-size: contain, 15%;
        height: 600px;
    }
    .banner-content {
         margin-top: 80px ;
    }
    .category-list {
        height: 150vh;
    }
    /* footer area */
    .footer-div {
        margin: 0 20%;
    }
    .footer-nav {
        font-family: Raleway;
        font-weight: 100;
    }
}
